<div class= "container">
  <div class="row">
    <label class="mx-auto text-white bg-secondary px-3"><h4>本当に退会しますか？</h4></label>
  </div>
</div>

<div class= "container">
  <div class="row justify-content-center">
    <div="col">
<p class="text-center">
  退会すると、会員情報や<br>
  これまでの購入履歴が閲覧できなくなります。<br>
  退会する場合は、「退会する」をクリックしてください。
</p>

<div class= "container">
  <div class="row justify-content-center">
<%= link_to "退会しない", customers_path, class: "btn btn-primary" %>
<%= link_to "退会する", customers_withdrawl_path, method: :patch, class: "btn btn-danger mx-2" %>
  </div>
</div>

    </div>
  </div>
</div>