<h1>管理者のエンドユーザ一覧ページ</h1>

<p>会員一覧</p>

<table>
  <thead>
    <tr>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to "#{customer.last_name + customer.first_name}", admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td>
        <% customer.is_active %>
          <% if customer.is_active %>
            有効
          <% else %>
          　退会
          <% end %>
      </td>
    </tr>
    <% end %>
    <%= paginate @customers %>
  </tbody>
</table>
