<div class="container">
<label class="bg-secondary text-white"><h4 class="px-3">会員一覧</h4></label>

<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scop="col">会員ID</th>
      <th scop="col">氏名</th>
      <th scop="col">メールアドレス</th>
      <th scop="col">ステータス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to "#{customer.last_name + customer.first_name}", admin_customer_path(customer) %></td>
      <td><%= customer.email %></td>
      <td>
        <% customer.is_active %>
          <% if customer.is_active %>
            <span class="text-success">有効</span>
          <% else %>
            <span class="text-muted">退会</span>
          <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<%= paginate @customers, class: "mx-auto" %>